@page "/fetchdata"
@using BlazorAppTimezone.Shared
@inject HttpClient Http
@using Microsoft.AspNetCore.WebUtilities

<PageTitle>Weather forecast</PageTitle>

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

 <div class="row">
    <div class="col col-auto">
        <div class="form-group">
            <label for="firstName" class="control-label">Enter Time zone</label>
          
             <input type="text"  id="firstName" class="form-control" @bind="@_timeZone"/>
           
            @*<input id="firstName" type="text" name="firstname" placeholder="First Name" class="form-control" style="width:25ch;">*@
        </div>
    </div>
</div>
<span><b>TimeZone DisplayName : </b></span><span>@timeZoneDettail?.TimeZoneDisplayName</span>
<br />
<span><b>TimeZone Name : </b></span><span>@timeZoneDettail?.TimeZoneName</span>
<br />
<span><b>Converted TimeZone : </b></span><span>@timeZoneDettail?.ConvertedTimezone</span>
<br />
<span><b>Timezone ID : </b></span><span>@timeZoneDettail?.TimezoneID</span>
<br />
<span><b>Time at Time Zone : </b></span><span>@timeZoneDettail?.TimeAtTimezone</span>
<br />
<span><b>UTC Time : </b></span><span>@timeZoneDettail?.UTCTime</span>

<br/>
<br />
<button class="btn btn-primary" @onclick="GetData">Get New Value</button>

@code {
    private WeatherForecast[]? forecasts;
    private TimezoneDetails? timeZoneDettail = new TimezoneDetails();
    private string _timeZone = "America/Chicago";

    private async Task GetData()
    {

        var _escapedTimezone = Uri.EscapeDataString(_timeZone);

        timeZoneDettail = await Http.GetFromJsonAsync<TimezoneDetails>($"/api/WeatherForecast/GetTimeZonetime/{_escapedTimezone}");
        StateHasChanged();
    }
    protected override async Task OnInitializedAsync()
    {
        //forecasts = await Http.GetFromJsonAsync<WeatherForecast[]>("WeatherForecast");

        //timeZoneDettail = await Http.GetFromJsonAsync<TimezoneDetails>($"WeatherForecast");
        await GetData();
    }
}
